<div class= "chat-messages">
<h1>Ma discussion avec <%= @chatroom.teacher.first_name %></h1>


<% if !@chatroom.messages.nil?  %>
  <div class="content-evaluation chat" id="chat">
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <% if message.user==current_user %>
  <!-- Sender Message-->
          <div class="media w-50 ml-auto mb-3" id="<%= message.id %>">
            <div class="media-body ml-3">
              <p class="small text-muted"><%= I18n.l(message.created_at, format: :date, locale: :fr).capitalize %> <%= message.created_at.strftime("%H:%M")%></p>
              <div class="bg-warning rounded py-2 px-3 mb-2">
                <p class="text-white mb-0"><%= message.content %></p>
              </div>
            </div>
          </div>
        <% else %>
 <!-- Reciever Message-->
          <div class="media w-50 mb-3" id="<%= message.id %>"><%= cl_image_tag @chatroom.teacher.photo.key, alt: "user", width: 50, class: "rounded-circle"%>
            <div class="media-body">
              <p class="small text-muted"><%= I18n.l(message.created_at, format: :date, locale: :fr).capitalize %> <%= message.created_at.strftime("%H:%M")%></p>
              <div class="bg-light-blue rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-small"><%= message.content %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<!-- Chat Box-->
    <%= simple_form_for [ @chatroom, @message ], html: {class: "form-inline d-flex"} do |f| %>
      <%= f.input :content, label: false, placeholder: "Mon Message", class: "form-control rounded-0 border-0 py-4 bg-white font-italic"%>
      <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
    <% end %>

</div>

