<div class='content-evaluation'>
  <%= simple_form_for(booking) do |f| %>
      <%= f.simple_fields_for :slot do |p| %>
        <%= p.association :teacher, collection: User.teachers %>
        <%= p.input :start %>
      <% end %>
      <%= f.input :address %>
      <div id="map"
           style="width: 50%;
           height: 300px;"
           data-marker="<%= @marker.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%= f.button :submit, class: "btn text-center" %>
  <% end %>


  <div class='teacher-bar'>
    <% User.teachers do |teacher| %>
      <%= teacher.first_name %>
      <%= cl_image_tag teacher.photo.key if teacher.photo.attached? %>
    <% end %>
  </div>
</div>
