<div class='content-evaluation'>

  <h2 id="teacher-bar-title">Choisis ton moniteur</h2>

  <div class='teacher-bar mt-3 mb-5'>
    <% teachers.each do |teacher| %>
      <div
        class='flex-column text-center column-teacher <%= @teacher.id == teacher.id ? 'teacher-selected' : 'teacher-free' %> js-initteacher'
        data-user-id=<%=teacher.id  %>
        data-path=<%= refresh_calendar_path(:teacher_id => teacher.id, :date => @hash.first[1].first.start.to_date, :refresh => nil, :booking_id => @booking_id) %>>
        <div class='border-avatar'>
          <%= cl_image_tag(teacher.photo.key, options = {class: 'avatar-large'}) if teacher.photo.attached? %>
        </div>
        <p><%= teacher.first_name %></p>
      </div>
    <% end %>
  </div>

  <h2 id="teacher-bar-title">Sélectionne un créneau</h2>
  <div id="container-calendar">
    <%= render partial: "slot_calendar" %>
  </div>

  <!-- <div class="my-2 js-next-btn hidden">
    <button class="border-0 btn-cardetour btn">SUIVANT</button>
  </div> -->

  <div class="js-location-selection">
    <%= simple_form_for(booking) do |f| %>

      <div>
          <div>
            <%= f.simple_fields_for :slot do |p| %>
              <%= p.hidden_field :teacher_id, value: teacher.id, input_html: { class: '', required: true }%>
              <%= p.hidden_field :start, input_html: { class: '', required: true } %>
            <% end %>
          </div>
          <h2 class="mt-4 mb-4">Sélectionne un lieu de rencontre</h2>
          <div>
            <div>
              <p class='mt-3' ><strong>La prise en charge se fait à l’auto-école par défaut.</strong>
              Si tu souhaites être récupéré au lieu de ton choix par ton moniteur, entre l’adresse ci-dessous :</p>
            </div>
            <div class='mapbox-card'>
              <%= f.input :address, label: false, input_html: { class: "address-form"} %>
              <div id="map"
                   style="
                   height: 300px;"
                   data-marker="<%= @marker.to_json %>"
                   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            </div>
          </div>
      </div>

      <div class="text-center my-3 <%= params[:action] == 'new' ? 'js-btn-new' : 'js-btn-edit' %>">
        <%= f.button :submit, class: "btn-cardetour js-btn-submit", value: 'Confirmer' %>
      </div>

    <% end %>
  </div>

</div>










