
<div class="position-relative">
  <div class="calendar-container" data-first-date=<%= @hash.first[1][0].start.to_date %>>
    <div class="calendar-column_arrow">
      <button data-path=<%= refresh_calendar_path(:teacher_id => @teacher.id, :date => @hash.first[1].first.start.to_date, :refresh => 'previous', :booking_id => @booking_id) %> class="border-0 calendar-btn calendar-arrow">
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>

    <% @hash.each do |day, value| %>
      <div class='calendar-column'>
        <div class='calendar-headers'>
          <div class="text-lowercase font-weight-bold"><%= I18n.l(value.first.start.to_datetime, format: :planning_month, locale: :fr) %></div>
          <div><%= I18n.l(value.first.start.to_datetime, format: :planning_day, locale: :fr) %></div>
        </div>

        <% value.each do |slot| %>
          <% if slot.start < DateTime.now() %>
            <div class="card-slot-booked">-</div>
          <% else %>
            <% if (@slot && (@slot.start == slot.start)) %>
              <div class='card-slot-clicked' data-slot=<%= slot.start.to_date %>  data-slot-hour=<%= slot.start.strftime('%H') %>>
                <%= slot.start.hour %>:00
              </div>
            <% elsif slot.booked %>
                <div class="card-slot-booked">-</div>
            <% else %>
              <div class='card-slot-free' data-slot=<%= slot.start.to_date %>  data-slot-hour=<%= slot.start.strftime('%H') %>>
                <%= slot.start.hour %>:00
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="calendar-column_arrow">
      <button data-path=<%= refresh_calendar_path(:teacher_id => @teacher.id, :date => @hash.first[1].first.start.to_date, :refresh => 'next', :booking_id => @booking_id) %> class="border-0 calendar-btn calendar-arrow">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>

  <div class="separator"></div>
</div>

