<h1>Ton évaluation du <%= I18n.l(@booking.slot.start, format: :date_evaluation, locale: :fr) %></h1>

<div class="content-evaluation">
  <div class="row-evaluation">
    <div class="card-evaluation">
      <h2>Le contenu du cours</h2>
      <div class="card-evaluation-content">
      <p><%= @booking.review_content %></p>
      </div>
    </div>
  </div>
  <div class="row-evaluation">
    <div class="card-evaluation">
      <h2>Bilan des manoeuvres</h2>
      <div class="card-evaluation-content">
      <p><%= @booking.review_evaluation%></p>
      </div>
    </div>
  </div>
  <div class="row-evaluation">
    <div class="card-evaluation">
      <h2>Points à travailler</h2>
      <div class="card-evaluation-content">
      <p><%= @booking.review_to_improve%></p>
      </div>
    </div>
  </div>
  <div class="row-evaluation">
    <div class="card-evaluation">

      <h2>Mon niveau</h2>
      <div class='evaluation-map'>
        <%= render partial: "evaluationmap", locals: {booking: @booking}  %>
      </div>
    </div>
    </div>
  </div>
</div>







