
<h1>Tableau de bord</h1>


<h3>Mes heures de conduite</h3>


<% validated_hours = 0 %>
<% booked_hours = 0 %>
<% hours_to_do = 20 %>

<% @bookings.each do |booking| %>
  <% validated_hours += 2 if (booking.slot.start - DateTime.now()) < 0 %>
<% end %>
<% hours_to_do = hours_to_do - validated_hours %>
<% if hours_to_do >= 0 %>
  <% hours_to_do = hours_to_do %>
<% else %>
  <% hours_to_do = 0 %>
<% end %>
<div class="d-flex flex-column">
  <div class="timeline d-flex align-items-end">
    <div class="d-flex-inline" style="width:<%= ((validated_hours.to_f/20)*100).to_i%>%; position:relative">
      <div class="category cat-val">
      <i class="fas fa-car-side depart"></i>
    </div>

    </div>
    <div style="width:<%= ((hours_to_do.to_f/20)*100).to_i%>%; position:relative">
      <div class="category cat-tobook"></div>
      <div class="d-flex flex-column pastille" style="background-image: url('<%= image_path 'marker.png' %>')">
       <%= image_tag "peach .jpg", :class => "pastille-photo"%>
       <div class="pastille-heure"><%= validated_hours %>h</div>
      </div>
       <i class="fas fa-flag-checkered arrivee"></i>
    </div>
  </div>
  <div class="ruler d-flex justify-content-between">
  <p>0h</p>
  <p>20h</p>
  </div>
</div>

<h3>Mon niveau</h3>

<% respect = [] %>
<% share = [] %>
<% control = [] %>
<% @bookings.each do |booking| %>
  <% respect << booking.respect_rating if !booking.respect_rating.nil? %>
  <% share << booking.share_rating if !booking.share_rating.nil? %>
  <% control << booking.control_rating if !booking.control_rating.nil? %>
<% end %>
<p>Respect Rating Average: <%= respect_average = (respect.sum.to_f / respect.count) %></p>
<p>Share Rating Average: <%= share_average = (share.sum.to_f / share.count) %></p>
<p>Control Rating Average: <%= control_average = (control.sum.to_f / control.count) %></p>

<% axis_respect = (respect_average*36 - 90).to_i%>
<% axis_share = (share_average*36 - 90).to_i%>
<% axis_control = (control_average*36 - 90).to_i%>
<div class="d-flex justify-content-around">
  <div class="jauge" style="background-image: url('<%= image_path 'jauge.png' %>')">
    <div class="curseur"style="background-image: url('<%= image_path 'curseur.png' %>'); transform: rotate(<%= axis_respect%>deg)"></div>
  </div>
  <div class="jauge" style="background-image: url('<%= image_path 'jauge.png' %>')">
    <div class="curseur"style="background-image: url('<%= image_path 'curseur.png' %>'); transform: rotate(<%= axis_share%>deg)"></div>
  </div>
  <div class="jauge" style="background-image: url('<%= image_path 'jauge.png' %>')">
    <div class="curseur"style="background-image: url('<%= image_path 'curseur.png' %>'); transform: rotate(<%= axis_control%>deg)"></div>
  </div>
</div>



