<div class="home-banner" style="background-image: url('<%= image_path 'home_banner3.png' %>');">
  <%= image_tag "logo.png", class:'logo-home' %>
  <h1 class = "typed">
    <span id="banner-typed-text"></span>
  </h1>
  <% if user_signed_in? %>
    <%= link_to "DÉMARRER", dashboard_path, class: "btn btn-warning btn-cardetour btn-home"%>
  <% end %>
</div>
<div class='home-card-banner'>
  <div class='home-card-container'>
    <div class='card-home-page'>
      <h1><i class="fas fa-child"></i> Simplicité</h1>
      <p>Avec Car de Tour, vous pouvez réserver vos heures de conduite auprès de vos professeurs préférés, avec un accès direct à leur calendrier. <br> En plus, on vient vous chercher où vous voulez! </p>
    </div>
    <div class='card-home-page'>
      <h1>Pédagogie</h1>
      <p>Chez Car de Tour, nous pensons qu'un apprentissage durable ne se fait pas uniquement pendant le cours de conduite. Pour vous aider à comprendre vos erreurs - mais aussi vos forces! -, chaque leçon fait l'objet d'un évaluation détaillée. </p>
    </div>
    <div class='card-home-page'>
      <h1>Suivi</h1>
      <p>Votre réussite est notre seule objectif 🏆. <br> Pour faire de vous un pilote responsable, nos professeurs sont disponibles par chat pour échanger sur l'évolution de votre apprentissage. <br> N'hésitez pas à les solliciter! </p>
    </div>
  </div>
    <div class='equipe-banner'>
      <h1>Notre équipe</h1>
      <div>
        <% User.teachers.each do |teacher| %>
          <div class="flex-column text-center">
            <%= cl_image_tag(teacher.photo.key, options = {class: 'avatar-home'}) if teacher.photo.attached? %>
          <p><%= teacher.first_name %></p>
          </div>
        <% end %>
      </div>
    </div>
</div>
