<div class="home-banner" style="background-image: url('<%= image_path 'home_banner3.png' %>');">
  <%= image_tag "logo.png", class:'logo-home' %>
  <h1 class = "typed">
    <span id="banner-typed-text"></span>
  </h1>
  <% if user_signed_in? %>
    <%= link_to "DÉMARRER", dashboard_path, class: "btn btn-warning btn-cardetour btn-home"%>
  <% end %>
</div>
<div class='home-card-banner'>
  <div class='home-card-container'>
    <div class='card-home-page'>
      <%= image_tag "mario.png", class: "card-home-img avatar-home" %>
      <h1>Hello</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    <div class='card-home-page'>
      <%= image_tag "mario.png", class: "card-home-img avatar-home" %>
      <h1>Hello</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    <div class='card-home-page'>
      <%= image_tag "mario.png", class: "card-home-img avatar-home" %>
      <h1>Hello</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
  </div>
</div>
