<!DOCTYPE html>
<html>
  <head>
    <title>Car de tour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>


    <div class="container container-cardetour">
      <div class="row" style="margin-top: 36px">

        <% unless params[:action] == 'home' || devise_controller? %>
          <div class="col-4">
            <%= render 'shared/sidebar', bookings: @bookings %>
          </div>
        <% end %>

        <div class="col-8">
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
